body {
  font-family: sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 2em;

  background-image: url("images/lake_ground.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: white;
}

header, footer {
  text-align: center;
  margin-bottom: 2em;
}

nav a {
  margin: 0 0.5em;
  text-decoration: none;
  color: #3366cc;
}


h1, h2 {
  text-align: center;
  color: black;
  background-color: white;
  font-weight: bold;
  margin: 0 auto 1em auto; /* Top and bottom 0, left and right auto */
  border: 2px solid black;
  padding: 0.5em 1em;
  border-radius: 8px;
  display: block; /* Change to block for margin: auto to work */
  width: fit-content; /* Makes element only as wide as its content */
}



#map {
  height: 400px;
  margin-top: 1em;
  border: 2px solid #ffffff55;
  border-radius: 12px;
  box-shadow: 0 0 10px #00000088;
}


p {
  text-shadow: 
    0 0 10px black,
    0 0 5px rgba(0,0,0,0.7); /* Layered shadow */
    text-align: center;
    margin-bottom: 2em;
}

a {
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

a:hover {
  text-decoration: underline;
  color: #fff;
}

#timeline {
  list-style-type: none;
  padding: 0;
  margin-bottom: 2em;
  text-align: center;
}

#timeline li {
  margin-bottom: 0.5em;
}







