body {
  font-family: sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 2em;

  background-image: url("images/IMG_7245.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: white;
}

header, footer {
  text-align: center;
  margin-bottom: 2em;
}

nav a {
  margin: 0 0.5em;
  text-decoration: none;
  color: #3366cc;
}


h1, h2 {
  text-align: center;
  color: white;
  font-weight: bold;
  margin-bottom: 1em;
}


#map {
  height: 400px;
  margin-top: 1em;
  border: 2px solid #ffffff55;
  border-radius: 12px;
  box-shadow: 0 0 10px #00000088;
}

p {
  text-align: center;
  color: #555;
  margin-bottom: 2em;
}

#timeline {
  list-style-type: none;
  padding: 0;
  margin-bottom: 2em;
  text-align: center;
}

#timeline li {
  margin-bottom: 0.5em;
}

a {
  color: #ffeeaa;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #fff;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6); /* semi-transparent dark layer */
  padding: 2em;
  border-radius: 12px;
}


